:root {
  --blue: #3692FF;
  --gray900: #111827;
  --gray800: #1F2937;
  --gray700: #374151;
  --gray600: #4B5563;
  --gray500: #6B7280;
  --gray400: #9CA3AF;
  --gray200: #E5E7EB;
  --gray100: #F3F4F6;
  --gray50: #F9FAFB;
}

/* SIGNUP CSS FILE */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* flex 지정 */
.container .signup-nav, .logo, .signupForm, .otherLogin, .site {
  display: flex;
}

.container {
  width: 640px;
  height: 842px;
  padding-top: 48px;
  padding-bottom: 145px;
}

.container .signup-nav {
  gap: 40px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

/* 상단 로고 */
.logo {
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  gap: 22px;
}

.logoTitle a {
  font-family: 'ROKAF Sans', sans-serif;
  text-decoration: none;
  color: var(--blue);
  font-weight: 700;
  font-size: 66px;
  line-height: 89px;
  text-align: left;
}

/* 회원가입 폼 */
.signupForm {
  width: 100%;
  flex-direction: column;
  gap: 24px;
}

.signupForm label {
  color: var(--gray800);
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.signupForm input {
  color: var(--gray800);
  font-weight: 400;
  border: 0;
  background-color: var(--gray100);
  border-radius: 12px;
  font-size: 16px;
  line-height: 26px;
  padding: 15px 24px;
  height: 26px;
}

.signupForm input::placeholder {
  color: var(--gray400);
  opacity: 0.7;
}

.signupForm input:focus {
  outline: 1px solid var(--blue);
}

.button {
  height: 56px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  border-radius: 40px;
  padding: 16px auto;
  width: 100%;
  border: 0;
  background-color: var(--gray400);
  color: var(--gray100);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
}

.button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

input.error {
  border: 1px solid red;
}

input.valid {
  outline: 1px solid var(--blue);
}

.error-message {
  color: red;
  font-size: 14px;
  padding-left: 16px;
  font-weight: 600;
}

.emailInput, .passwordInput, .nicknameInput, .pwCheckInput {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}

.passwordInput, .pwCheckInput {
  position: relative;
}

.passwordInput i, .pwCheckInput i{
  position: absolute;
  margin: 58px 0 16px;
  right: 24px;
  font-size: 24px;
  cursor: pointer;
}

/* 간편로그인 */
.otherLogin {
  height: 74px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f2ff;
  border-radius: 8px;
}

.site_sentence {
  color: var(--gray800);
  padding: 24px 0 24px 23px;
  font-size: 16px;
  font-weight: 500;
}

.site {
  padding: 24px 23px 24px 0;
  gap: 16px;
}

.site img {
  width: 42px;
}

/* 로그인 페이지 이동 */
.loginPage {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray800);
  margin: 0;
}

.loginPage a {
  color: var(--blue);
}

/* moblie */
@media screen and (max-width: 767px) {
  .container {
    padding-top: 24px;
    width: calc(100% - 32px);
    max-width: 400px;
    height: 681px;
  }

  .container .signup-nav {
    gap: 24px;
  }
  
  /* 상단 로고 */
  .logo {
    gap: 11px;
  }

  .logoTitle a {
    font-size: 33px;
    line-height: 44px;
  }

  .logo > img {
    width: 51px;
    height: 51px;
  }

  .signupForm label {
    font-size: 14px;
    line-height: 24px;
  }

  .emailInput, .passwordInput, .nicknameInput, .pwCheckInput {
    gap: 8px;
    padding-bottom: 16px;
  }

  .passwordInput i, .pwCheckInput i {
    position: absolute;
    margin: 0;
    top: 48px;
    right: 24px;
    font-size: 24px;
    cursor: pointer;
  }
}
